<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Taiwanese American Professionals, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up through the San Francisco branch.<br/>
    </p>
    <p>
      Keep up with our latest events and updates <%= link_to "here", "http://tap-sf.tacl.org/index2.php/" %>!
    </p>
    <p>Have a great day!</p>
  </body>
</html>