body
  background-color: white
  #container
    min-width: 960px
    width: 950px
    margin: 0px auto 0px auto
    #header
      overflow: hidden
      margin: 0px auto 30px auto
      background-image: url(http://www.mint.com/images/rd/global/bg_gradient.png)
      background-repeat: repeat-x
      border-color: #C6D880
      #logo
        float: left
        width: 300px
        bottom: 0px
      #welcome
        float: right
        width: 400px
        text-align: right
      #masthead
        margin: 10px auto
        float: left
        width: 950px
        h1
          text-align: center
        h2
          text-align: center
    #content
      margin: 0 auto
      .field
        margin: 5px 0px
      form
        margin: 0 auto
        label
          display: inline
        .field_with_errors
          display: inline
        .red-asterisk
          color: red
        .field
          font-weight: bold
        .actions
          margin: 20px 0px 0px 0px
      .content-description
        border-bottom: 1px solid #D5DEDF
        margin: 40px 0px 20px 0px
        
