body
  background-color: white
  #container
    width: 980px
    margin: 0 auto
    #header
      overflow: hidden
      #logo
        float: left
        width: 300px
      #welcome
        float: right
        width: 400px
        text-align: right