body #container #content #edit-text {
  margin: 10px auto; }
body #container #content .edit_user {
  width: 740px;
  margin: 0 auto; }
  body #container #content .edit_user label {
    display: inline; }
  body #container #content .edit_user .field_with_errors {
    display: inline; }
  body #container #content .edit_user .red-asterisk {
    color: red; }
