body {
  background-color: white; }
  body #container #header {
    width: 740px;
    overflow: hidden;
    margin: 0 auto;
    background: #f6efc2;
    border-color: #c6d880; }
    body #container #header #logo {
      float: left;
      width: 300px;
      bottom: 0px; }
    body #container #header #welcome {
      float: right;
      width: 400px;
      text-align: right; }
    body #container #header #masthead {
      width: 740px;
      float: left;
      height: 185px;
      background-color: white;
      background-image: url(https://lh3.googleusercontent.com/uSCqRw7eWyC2iAhh36bi1ifS2h9YdzEJdtMcQ_KE1uBYuQyqf94jYS5UeofNZBs1jTyVdc-Mu7aoNgZrsYNmkFc=s0);
      background-repeat: no-repeat; }
  body #container #content {
    width: 740px;
    margin: 0 auto; }
