body #container #content #signup-text {
  margin: 10px auto; }
body #container #content .new_user {
  margin: 0 auto; }
  body #container #content .new_user label {
    display: inline; }
  body #container #content .new_user .field_with_errors {
    display: inline; }
  body #container #content .new_user .red-asterisk {
    color: red; }
