%h1#signup-text Signup!

%script{:type => "text/javascript", :src => "/javascripts/signup.js"}
%script{:type => "text/javascript", :src => "https://github.com/malsup/form/raw/master/jquery.form.js?v2.43"}

= render "form"