%p
  %h2 Welcome
  = @user.first_name

- if @controller.logged_in_as_admin?
  .hello You are an admin fool...
  = link_to 'View/Edit Tap Members', users_path
- else
  .hello You are a regular member... what content should be placed here?
