#homepage
  %h2#homepage-text It actually looks like it's really easy to install WordPress in this page.
  %br All I need to do is move the WordPress files into a folder on the server and do a few other tiny things for it work.
  %br This makes more sense as users can login/out of this page.
  %br Then all that's needed is to link tapsf.org to here.